---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Experience from '../components/Experience.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import PersonIcon from '../components/icons/personIcon.astro';
import SobreMi from '../components/sobreMi.astro';
import ScrollTop from '../components/ScrollTop.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Portafolio de Malcom - Desarrollador y Programador Web en FrontEnd"
  description="Si tu página web y desarrollo FrontEnd quieres crear, a Malcom Quirós debes contratar"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
        </slot>
      </Hero>
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="ExperienceItem">
        <h2 class="text-2xl sm:text-3xl text-colorPrincipal flex items-center mb-6 font-semibold gap-x-3">
          <Briefcase class="size-7"/>
          Experiencia Estudiantil
        </h2>
        <Experience/>
      </SectionContainer>

      <SectionContainer id="Projects">
        <h2 class="text-2xl sm:text-3xl text-colorPrincipal flex items-center mb-6 font-semibold gap-x-3">
          <Code class="size-7"/>
          Proyectos
        </h2>
        <Projects/>
      </SectionContainer>

      <SectionContainer id="sobreMi">
        <h2 class="flex items-center mb-6 text-2xl sm:text-3xl font-semibold gap-x-8 text-colorPrincipal">
          <PersonIcon class="size-8"/>
          Sobre Mí
        </h2>
        <SobreMi/>
      </SectionContainer>

      <ScrollTop/>
    </div>
  </main>
</Layout>
