<article class="container mx-auto py-12 md:py-16 lg:py-20 px-4 md:px-6 lg:px-8 grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-6 lg:gap-8 text-colorPrincipal">
    <div class="flex flex-col items-center md:items-start space-y-4 col-span-1 md:col-span-1">
        <div class="rounded-full bg-black/20 dark:bg-colorSecondary/5 ring-1 ring-black/70 dark:ring-white/20 w-40 h-40 md:w-48 md:h-48 lg:w-56 lg:h-56 overflow-hidden">
            <img 
                width="200" 
                height="200" 
                src="avatar/Avatar.webp" 
                alt="Avatar de Malcom Quirós Madriz" 
                class="w-full h-full object-cover rotate-3" 
                style="object-position: 50% 50%" 
            />
        </div>
        <h3 class="text-2xl md:text-3xl lg:text-2xl font-bold text-colorSecondary">Diseño Funcional</h3>
    </div>
    <div class="space-y-3 md:space-y-4 lg:space-y-5 text-pretty col-span-2">
        <p class="[&>strong]:text-colorSecondary lg:text-xl [&>strong]:font-mono">
            <strong>Mi nombre es Malcom Quirós Madriz. Poseo un título técnico como diseñador gráfico</strong>,
            pero tengo una pasión innata por la programación, especialmente en el ámbito del frontend. 
            Mi formación como diseñador me ha brindado bases firmes en la estética y la creatividad, 
            mientras que <strong>mi amor por la programación me permite crear experiencias web visualmente atractivas y con un diseño funcional.</strong> 
            Siempre estoy en busca de nuevas tecnologías que me permitan explotar al máximo mi capacidad y la de mis proyectos, 
            logrando así ofrecer soluciones innovadoras y eficientes.
        </p>
    </div>
</article>
